
// The class name needs to match the names of the category and block
.wp-block-cloudblocks-text-with-heading {
  .wp-block-cloudblocks-text-with-heading__title {
    color: #36292a;
    font-size: 1.1375em;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: 30em) {
      font-size: 28px;
      margin-top: 40px;
    }

    @media (min-width: 46em) {
      font-size: 33.6px;
      margin-top: 50px;
    }

    @media (min-width: 62em){
      font-size: 35px;
    }
  }
}
